.Section{
    width: 250px;
    height: 250px;
    background-color: aqua;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    opacity: 100%;
    font-size: small;
    background-image: url('1');
    background-image: url('2');
    background-image: url('3');
    background-image: url('4');

    /* width: 200px;
    height: 200px;
    animation-name: BirdAnim;
    animation-duration: 5s;
    background-image: url('bird.gif');
    background-repeat: no-repeat; */

}


/* .Section:hover{
    opacity:10%;
    background-color: brown;
    font-size: medium;
    border-radius:10px;

} */

@keyframes BirdAnim{
    
    0%{
        margin-left: 600px;
        margin-top: 0px;
    }25%{
        margin-left: 300px;
        margin-top: 0px;
    }50%{

    }75%{

    }100%{

    }

}